<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codehuan.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codehuan.pojo.User">
        <id column="id" property="id" />
        <result column="workcode" property="workcode" />
        <result column="icon" property="icon" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="sale" property="sale" />
        <result column="ip" property="ip" />
        <result column="login_time" property="loginTime" />
        <result column="created_time" property="createdTime" />
        <result column="pwd_updated_date" property="pwdUpdatedDate" />
        <result column="updated_time" property="updatedTime" />
        <result column="sex" property="sex" />
        <result column="phone_number" property="phoneNumber" />
        <result column="email" property="email" />
        <result column="qq" property="qq" />
        <result column="wx" property="wx" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
